//width: calc-percent(100, 1000);→width: 10%;
@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
@function get-vw($target) {
  $vw-context: (1600 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
@function get-vw-sp($target) {
  $vw-context: (768 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@mixin animate($animation, $duration, $repeat, $easing) {
  -webkit-animation: $animation $duration $repeat $easing;
  -moz-animation: $animation $duration $repeat $easing;
  -ms-animation: $animation $duration $repeat $easing;
  animation: $animation $duration $repeat $easing;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
