// ------------------------------------------------------------
// variables
// ------------------------------------------------------------
  
$xl: 1400;
$mid: 1030;
$bp: 768;
$inner: 1360px;
$m-color: #b548d9;

// Layouts
// ------------------------------------------------------------

// Font sizes use sp-rem
// ------------------------------------------------------------
$fz-base-px: 24;

